<li id="{{this.id}}" class="list-group-item"><span>{{this.id}}- </span>
    <span><strong>{{this.burger_name}}</strong></span>
    <label>Eaten by</label>&nbsp;&nbsp;<span>{{this.eaten_by}}</span>
</li>